<li [ngClass]="{'list-group-item': true,
                'list-group-item-success': postLoveIts > 0,
                'list-group-item-danger': postLoveIts < 0}">
    <div class="row">
  <div class="col-lg-6"><h4>{{ postTitle }}</h4></div> <div class="col-lg-6 text-right">{{ postCreatedAt | date: 'short' }}</div>

</div>
  <p>{{ postContent }}</p>
    
  <button class="btn btn-success" (click)="onLoveIt()">Love it!</button>
  &nbsp;
  <button class="btn btn-danger" (click)="onDontLoveIt()">Don't love it!</button>
</li>